In [1]:
#Import the Requered Librarys

import pandas as pd
import numpy as np

In [2]:
#Import the File
try:
    df = pd.read_csv("Nipah_Virus_dataset_File/nipah_virus_dataset.csv")
except FileNotFoundError as e:
    print(e)

#Print the first 10 Rows.
df.head(10)

,age,gender,temperature,oxygen_level,heart_rate,days_sick,fever,headache,cough,throat_pain,...,breathing_problem,body_pain,confusion_sleepy,fits,contact_patient,outbreak_visit,bat_or_fruit_contact,date_sap_drink,pig_or_bat_contact,nipah_result
0,35.0,Other,37.4,96.0,85.0,4.0,No,No,Yes,false,...,N,No,N,No,No,NaN,No,No,No,1.0
1,52.0,O,37.7,95.0,90.0,4.0,Yes,YES,Yes,No,...,No,0,No,No,No,No,No,No,NO,0.0
2,13.0,Female,37.3,99.0,NaN,4.0,no,No,No,Yes,...,NaN,No,Yes,No,No,Yes,NaN,No,N,0.0
3,16.0,Other,NaN,95.0,75.0,4.0,No,NaN,No,No,...,No,No,No,No,NaN,No,NaN,No,No,0.0
4,60.0,Other,39.0,88.0,96.0,6.0,Yes,No,N,False,...,Y,Yes,False,No,No,Yes,false,No,N,1.0
5,10.0,Other,37.8,96.0,81.0,6.0,False,No,No,No,...,No,No,No,0,No,false,No,no,No,0.0
6,30.0,Female,38.2,96.0,85.0,4.0,No,No,Yes,No,...,N,No,NO,No,No,false,NaN,No,No,0.0
7,33.0,female,36.4,94.0,74.0,7.0,No,Yes,Yes,NaN,...,False,False,No,0,No,No,Yes,No,N,1.0
8,38.0,Female,37.6,94.0,80.0,NaN,yes,Yes,No,No,...,No,1,False,No,NO,false,Yes,0,0,0.0
9,NaN,Female,37.5,97.0,105.0,5.0,Yes,0,No,No,...,N,Yes,No,No,No,No,N,No,N,0.0

In [3]:
#Check the Total rows and columns into the Dataframes.
print(f"The total rows is {df.shape[0]} and the total rows is {df.shape[1]}.")

The total rows is 3200 and the total rows is 21.

In [4]:
#Lets check there is any null values or not.
df.isna().sum()

age                     197
gender                  190
temperature             221
oxygen_level            182
heart_rate              182
days_sick               154
fever                   188
headache                180
cough                   172
throat_pain             164
vomiting                199
breathing_problem       191
body_pain               200
confusion_sleepy        181
fits                    175
contact_patient         183
outbreak_visit          209
bat_or_fruit_contact    211
date_sap_drink          180
pig_or_bat_contact      197
nipah_result            207
dtype: int64

In [5]:
#Lets Describe the Numaric columns.
df.describe()

       nipah_result
count   2993.000000
mean       0.209823
std        0.407250
min        0.000000
25%        0.000000
50%        0.000000
75%        0.000000
max        1.000000

In [6]:
#Lets Describe the all columns.
df.describe(include='all')

,age,gender,temperature,oxygen_level,heart_rate,days_sick,fever,headache,cough,throat_pain,...,breathing_problem,body_pain,confusion_sleepy,fits,contact_patient,outbreak_visit,bat_or_fruit_contact,date_sap_drink,pig_or_bat_contact,nipah_result
count,3003,3010,2979,3018,3018,3046,3012,3020,3028,3036,...,3009,3000,3019,3025,3017,2991,2989,3020,3003,2993.000000
unique,87,10,56,22,92,17,14,14,14,14,...,14,14,14,14,14,14,14,14,14,NaN
top,29.0,Other,37.1,96.0,84.0,4.0,No,No,No,No,...,No,No,No,No,No,No,No,No,No,NaN
freq,92,938,136,552,102,482,1059,1344,1436,1588,...,1781,1513,1922,2060,2023,1943,1954,2020,1974,NaN
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.209823
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.407250
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000

In [7]:
#Lets check the datatypes of the columns.
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3200 entries, 0 to 3199
Data columns (total 21 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   age                   3003 non-null   object
 1   gender                3010 non-null   object
 2   temperature           2979 non-null   object
 3   oxygen_level          3018 non-null   object
 4   heart_rate            3018 non-null   object
 5   days_sick             3046 non-null   object
 6   fever                 3012 non-null   object
 7   headache              3020 non-null   object
 8   cough                 3028 non-null   object
 9   throat_pain           3036 non-null   object
 10  vomiting              3001 non-null   object
 11  breathing_problem     3009 non-null   object
 12  body_pain             3000 non-null   object
 13  confusion_sleepy      3019 non-null   object
 14  fits                  3025 non-null   object
 15  contact_patient       3017 non-null   object
 16  outbreak_visit        2991 non-null   object
 17  bat_or_fruit_contact  2989 non-null   object
 18  date_sap_drink        3020 non-null   object
 19  pig_or_bat_contact    3003 non-null   object
 20  nipah_result          2993 non-null   float64
dtypes: float64(1), object(20)
memory usage: 525.1+ KB

In [8]:
#Lets Start to clean the data.

#column :- Age

df["age"] = df["age"].astype(str)
df["age"] = df["age"].replace('years',"")
df["age"] = df["age"].replace('twenty',"")
df["age"] = df["age"].replace(' ',"")
df["age"] = df["age"].str.strip()
df["age"] = pd.to_numeric(df["age"],errors="coerce")
df["age"] = df["age"].fillna(df["age"].mean())
df["age"] = df["age"].astype(int)



#Columns:- Gender

df["gender"] = df["gender"].replace("O",np.nan)
df["gender"] = df["gender"].replace("F","female")
df["gender"] = df["gender"].replace("M","Male")
df["gender"] = df["gender"].replace("FEMA","female")
df["gender"] = df["gender"].str.lower()
df["gender"] = df["gender"].fillna(df["gender"].mode()[0])

#Columns Tempurature
df["temperature"] = pd.to_numeric(df["temperature"],errors="coerce")
df["temperature"] = df["temperature"].fillna(df["temperature"].mean())
df["temperature"] = round(df["temperature"],2)

#Columns:- Oxygen_level

df["oxygen_level"] = df["oxygen_level"].replace("unknown",np.nan)
df["oxygen_level"] = pd.to_numeric(df["oxygen_level"],errors="coerce")
df["oxygen_level"] = df["oxygen_level"].fillna(df["oxygen_level"].mean())
df["oxygen_level"] = round(df["oxygen_level"],2)

#Columsn of Heart Rate

df["heart_rate"] = df["heart_rate"].replace("bpm","")
df["heart_rate"] = df["heart_rate"].replace("??","")
df["heart_rate"] = pd.to_numeric(df["heart_rate"],errors="coerce")
df["heart_rate"] = df["heart_rate"].astype(float)
df["heart_rate"] = df["heart_rate"].fillna(df["heart_rate"].mean())
df["heart_rate"] = round(df["heart_rate"],2)


#Days_sick Columns

df["days_sick"] = df["days_sick"].replace("five","5.0")
df["days_sick"] = df["days_sick"].replace("days","")
df["days_sick"] = pd.to_numeric(df["days_sick"],errors="coerce")
df["days_sick"] = df["days_sick"].astype(float)
df["days_sick"] = df["days_sick"].fillna(df["days_sick"].mean())
df["days_sick"] = round(df["days_sick"],2)

#Fever Columns.

df["fever"] = df["fever"].replace("0","No")
df["fever"] = df["fever"].replace("1","Yes")
df["fever"] = df["fever"].replace("N","No")
df["fever"] = df["fever"].replace("y","Yes")
df["fever"] = df["fever"].replace("False","No")
df["fever"] = df["fever"].replace("false","No")
df["fever"] = df["fever"].replace("True","Yes")
df["fever"] = df["fever"].replace("true","Yes")
df["fever"] = df["fever"].str.lower()
df["fever"] = df["fever"].fillna(df["fever"].mode()[0])

#Columns of headache
df["headache"] = df["headache"].replace("0","No")
df["headache"] = df["headache"].replace("1","Yes")
df["headache"] = df["headache"].replace("N","No")
df["headache"] = df["headache"].replace("Y","Yes")
df["headache"] = df["headache"].replace("False","No")
df["headache"] = df["headache"].replace("false","No")
df["headache"] = df["headache"].replace("True","Yes")
df["headache"] = df["headache"].replace("true","Yes")
df["headache"] = df["headache"].str.lower()
df["headache"] = df["headache"].fillna(df["headache"].mode()[0])

#Cough
df["cough"] = df["cough"].replace("0","No")
df["cough"] = df["cough"].replace("1","Yes")
df["cough"] = df["cough"].replace("N","No")
df["cough"] = df["cough"].replace("Y","Yes")
df["cough"] = df["cough"].replace("False","No")
df["cough"] = df["cough"].replace("false","No")
df["cough"] = df["cough"].replace("True","Yes")
df["cough"] = df["cough"].replace("true","Yes")
df["cough"] = df["cough"].str.lower()
df["cough"] = df["cough"].fillna(df["cough"].mode()[0])

#Columns of the throat_pain
df["throat_pain"] = df["throat_pain"].replace("0","No")
df["throat_pain"] = df["throat_pain"].replace("1","Yes")
df["throat_pain"] = df["throat_pain"].replace("N","No")
df["throat_pain"] = df["throat_pain"].replace("Y","Yes")
df["throat_pain"] = df["throat_pain"].replace("False","No")
df["throat_pain"] = df["throat_pain"].replace("false","No")
df["throat_pain"] = df["throat_pain"].replace("True","Yes")
df["throat_pain"] = df["throat_pain"].replace("true","Yes")
df["throat_pain"] = df["throat_pain"].str.lower()
df["throat_pain"] = df["throat_pain"].fillna(df["throat_pain"].mode()[0])

#vomiting columns

df["vomiting"] = df["vomiting"].replace("0","No")
df["vomiting"] = df["vomiting"].replace("1","Yes")
df["vomiting"] = df["vomiting"].replace("N","No")
df["vomiting"] = df["vomiting"].replace("Y","Yes")
df["vomiting"] = df["vomiting"].replace("False","No")
df["vomiting"] = df["vomiting"].replace("false","No")
df["vomiting"] = df["vomiting"].replace("True","Yes")
df["vomiting"] = df["vomiting"].replace("true","Yes")
df["vomiting"] = df["vomiting"].str.lower()
df["vomiting"] = df["vomiting"].fillna(df["vomiting"].mode()[0])

#Breathing Problem Columns data cleaning.

df["breathing_problem"] = df["breathing_problem"].replace("0","No")
df["breathing_problem"] = df["breathing_problem"].replace("1","Yes")
df["breathing_problem"] = df["breathing_problem"].replace("N","No")
df["breathing_problem"] = df["breathing_problem"].replace("Y","Yes")
df["breathing_problem"] = df["breathing_problem"].replace("False","No")
df["breathing_problem"] = df["breathing_problem"].replace("false","No")
df["breathing_problem"] = df["breathing_problem"].replace("True","Yes")
df["breathing_problem"] = df["breathing_problem"].replace("true","Yes")
df["breathing_problem"] = df["breathing_problem"].str.lower()
df["breathing_problem"] = df["breathing_problem"].fillna(df["breathing_problem"].mode()[0])

#Body Pain Columns

df["body_pain"] = df["body_pain"].replace("0","No")
df["body_pain"] = df["body_pain"].replace("1","Yes")
df["body_pain"] = df["body_pain"].replace("N","No")
df["body_pain"] = df["body_pain"].replace("Y","Yes")
df["body_pain"] = df["body_pain"].replace("False","No")
df["body_pain"] = df["body_pain"].replace("false","No")
df["body_pain"] = df["body_pain"].replace("True","Yes")
df["body_pain"] = df["body_pain"].replace("true","Yes")
df["body_pain"] = df["body_pain"].str.lower()
df["body_pain"] = df["body_pain"].fillna(df["body_pain"].mode()[0])

#Confusion Sleepy columns.

df["confusion_sleepy"] = df["confusion_sleepy"].replace("0","No")
df["confusion_sleepy"] = df["confusion_sleepy"].replace("1","Yes")
df["confusion_sleepy"] = df["confusion_sleepy"].replace("N","No")
df["confusion_sleepy"] = df["confusion_sleepy"].replace("Y","Yes")
df["confusion_sleepy"] = df["confusion_sleepy"].replace("False","No")
df["confusion_sleepy"] = df["confusion_sleepy"].replace("false","No")
df["confusion_sleepy"] = df["confusion_sleepy"].replace("True","Yes")
df["confusion_sleepy"] = df["confusion_sleepy"].replace("true","Yes")
df["confusion_sleepy"] = df["confusion_sleepy"].str.lower()
df["confusion_sleepy"] = df["confusion_sleepy"].fillna(df["confusion_sleepy"].mode()[0])

In [9]:
#Fits columns.

df["fits"] = df["fits"].replace("0","No")
df["fits"] = df["fits"].replace("1","Yes")
df["fits"] = df["fits"].replace("N","No")
df["fits"] = df["fits"].replace("Y","Yes")
df["fits"] = df["fits"].replace("False","No")
df["fits"] = df["fits"].replace("false","No")
df["fits"] = df["fits"].replace("True","Yes")
df["fits"] = df["fits"].replace("true","Yes")
df["fits"] = df["fits"].str.lower()
df["fits"] = df["fits"].fillna(df["fits"].mode()[0])

In [10]:
#contact_patient columns.

df["contact_patient"] = df["contact_patient"].replace("0","No")
df["contact_patient"] = df["contact_patient"].replace("1","Yes")
df["contact_patient"] = df["contact_patient"].replace("N","No")
df["contact_patient"] = df["contact_patient"].replace("Y","Yes")
df["contact_patient"] = df["contact_patient"].replace("False","No")
df["contact_patient"] = df["contact_patient"].replace("false","No")
df["contact_patient"] = df["contact_patient"].replace("True","Yes")
df["contact_patient"] = df["contact_patient"].replace("true","Yes")
df["contact_patient"] = df["contact_patient"].str.lower()
df["contact_patient"] = df["contact_patient"].fillna(df["contact_patient"].mode()[0])

In [11]:
#outbreak_visit columns.

df["outbreak_visit"] = df["outbreak_visit"].replace("0","No")
df["outbreak_visit"] = df["outbreak_visit"].replace("1","Yes")
df["outbreak_visit"] = df["outbreak_visit"].replace("N","No")
df["outbreak_visit"] = df["outbreak_visit"].replace("Y","Yes")
df["outbreak_visit"] = df["outbreak_visit"].replace("False","No")
df["outbreak_visit"] = df["outbreak_visit"].replace("false","No")
df["outbreak_visit"] = df["outbreak_visit"].replace("True","Yes")
df["outbreak_visit"] = df["outbreak_visit"].replace("true","Yes")
df["outbreak_visit"] = df["outbreak_visit"].str.lower()
df["outbreak_visit"] = df["outbreak_visit"].fillna(df["outbreak_visit"].mode()[0])

In [12]:
#bat_or_fruit_contact columns.

df["outbreak_visit"] = df["outbreak_visit"].replace("0","No")
df["outbreak_visit"] = df["outbreak_visit"].replace("1","Yes")
df["outbreak_visit"] = df["outbreak_visit"].replace("N","No")
df["outbreak_visit"] = df["outbreak_visit"].replace("Y","Yes")
df["outbreak_visit"] = df["outbreak_visit"].replace("False","No")
df["outbreak_visit"] = df["outbreak_visit"].replace("false","No")
df["outbreak_visit"] = df["outbreak_visit"].replace("True","Yes")
df["outbreak_visit"] = df["outbreak_visit"].replace("true","Yes")
df["outbreak_visit"] = df["outbreak_visit"].str.lower()
df["outbreak_visit"] = df["outbreak_visit"].fillna(df["outbreak_visit"].mode()[0])

In [13]:
#date_sap_drink columns.

df["date_sap_drink"] = df["date_sap_drink"].replace("0","No")
df["date_sap_drink"] = df["date_sap_drink"].replace("1","Yes")
df["date_sap_drink"] = df["date_sap_drink"].replace("N","No")
df["date_sap_drink"] = df["date_sap_drink"].replace("Y","Yes")
df["date_sap_drink"] = df["date_sap_drink"].replace("False","No")
df["date_sap_drink"] = df["date_sap_drink"].replace("false","No")
df["date_sap_drink"] = df["date_sap_drink"].replace("True","Yes")
df["date_sap_drink"] = df["date_sap_drink"].replace("true","Yes")
df["date_sap_drink"] = df["date_sap_drink"].str.lower()
df["date_sap_drink"] = df["date_sap_drink"].fillna(df["date_sap_drink"].mode()[0])

In [14]:
#pig_or_bat_contact columns.

df["pig_or_bat_contact"] = df["pig_or_bat_contact"].replace("0","No")
df["pig_or_bat_contact"] = df["pig_or_bat_contact"].replace("1","Yes")
df["pig_or_bat_contact"] = df["pig_or_bat_contact"].replace("N","No")
df["pig_or_bat_contact"] = df["pig_or_bat_contact"].replace("Y","Yes")
df["pig_or_bat_contact"] = df["pig_or_bat_contact"].replace("False","No")
df["pig_or_bat_contact"] = df["pig_or_bat_contact"].replace("false","No")
df["pig_or_bat_contact"] = df["pig_or_bat_contact"].replace("True","Yes")
df["pig_or_bat_contact"] = df["pig_or_bat_contact"].replace("true","Yes")
df["pig_or_bat_contact"] = df["pig_or_bat_contact"].str.lower()
df["pig_or_bat_contact"] = df["pig_or_bat_contact"].fillna(df["pig_or_bat_contact"].mode()[0])

df["bat_or_fruit_contact"] = df["bat_or_fruit_contact"].replace("0","No")
df["bat_or_fruit_contact"] = df["bat_or_fruit_contact"].replace("1","Yes")
df["bat_or_fruit_contact"] = df["bat_or_fruit_contact"].replace("N","No")
df["bat_or_fruit_contact"] = df["bat_or_fruit_contact"].replace("Y","Yes")
df["bat_or_fruit_contact"] = df["bat_or_fruit_contact"].replace("False","No")
df["bat_or_fruit_contact"] = df["bat_or_fruit_contact"].replace("false","No")
df["bat_or_fruit_contact"] = df["bat_or_fruit_contact"].replace("True","Yes")
df["bat_or_fruit_contact"] = df["bat_or_fruit_contact"].replace("true","Yes")
df["bat_or_fruit_contact"] = df["bat_or_fruit_contact"].str.lower()
df["bat_or_fruit_contact"] = df["bat_or_fruit_contact"].fillna(df["bat_or_fruit_contact"].mode()[0])

In [15]:
#nipha_result Columns.
df["nipah_result"] = df["nipah_result"].fillna(df["nipah_result"].mode()[0])
df["nipah_result"] = df["nipah_result"].astype(int)

In [ ]:
#To save the Cleaning CSV File
df.to_csv("Nipah_Virus_dataset_File/cleaned_data.csv")