In [1]:
#Import the Requered Librarys

import pandas as pd
import numpy as np

In [2]:
#Import the File
try:
    df = pd.read_csv("Nipah_Virus_dataset_File/nipah_virus_dataset.csv")
except FileNotFoundError as e:
    print(e)

#Print the first 10 Rows.
df.head(10)

,age,gender,temperature,oxygen_level,heart_rate,days_sick,fever,headache,cough,throat_pain,...,breathing_problem,body_pain,confusion_sleepy,fits,contact_patient,outbreak_visit,bat_or_fruit_contact,date_sap_drink,pig_or_bat_contact,nipah_result
0,35.0,Other,37.4,96.0,85.0,4.0,No,No,Yes,false,...,N,No,N,No,No,NaN,No,No,No,1.0
1,52.0,O,37.7,95.0,90.0,4.0,Yes,YES,Yes,No,...,No,0,No,No,No,No,No,No,NO,0.0
2,13.0,Female,37.3,99.0,NaN,4.0,no,No,No,Yes,...,NaN,No,Yes,No,No,Yes,NaN,No,N,0.0
3,16.0,Other,NaN,95.0,75.0,4.0,No,NaN,No,No,...,No,No,No,No,NaN,No,NaN,No,No,0.0
4,60.0,Other,39.0,88.0,96.0,6.0,Yes,No,N,False,...,Y,Yes,False,No,No,Yes,false,No,N,1.0
5,10.0,Other,37.8,96.0,81.0,6.0,False,No,No,No,...,No,No,No,0,No,false,No,no,No,0.0
6,30.0,Female,38.2,96.0,85.0,4.0,No,No,Yes,No,...,N,No,NO,No,No,false,NaN,No,No,0.0
7,33.0,female,36.4,94.0,74.0,7.0,No,Yes,Yes,NaN,...,False,False,No,0,No,No,Yes,No,N,1.0
8,38.0,Female,37.6,94.0,80.0,NaN,yes,Yes,No,No,...,No,1,False,No,NO,false,Yes,0,0,0.0
9,NaN,Female,37.5,97.0,105.0,5.0,Yes,0,No,No,...,N,Yes,No,No,No,No,N,No,N,0.0

In [3]:
#Check the Total rows and columns into the Dataframes.
print(f"The total rows is {df.shape[0]} and the total rows is {df.shape[1]}.")

The total rows is 3200 and the total rows is 21.

In [4]:
#Lets check there is any null values or not.
df.isna().sum()

age                     197
gender                  190
temperature             221
oxygen_level            182
heart_rate              182
days_sick               154
fever                   188
headache                180
cough                   172
throat_pain             164
vomiting                199
breathing_problem       191
body_pain               200
confusion_sleepy        181
fits                    175
contact_patient         183
outbreak_visit          209
bat_or_fruit_contact    211
date_sap_drink          180
pig_or_bat_contact      197
nipah_result            207
dtype: int64

In [5]:
#Lets Describe the Numaric columns.
df.describe()

       nipah_result
count   2993.000000
mean       0.209823
std        0.407250
min        0.000000
25%        0.000000
50%        0.000000
75%        0.000000
max        1.000000

In [6]:
#Lets Describe the all columns.
df.describe(include='all')

,age,gender,temperature,oxygen_level,heart_rate,days_sick,fever,headache,cough,throat_pain,...,breathing_problem,body_pain,confusion_sleepy,fits,contact_patient,outbreak_visit,bat_or_fruit_contact,date_sap_drink,pig_or_bat_contact,nipah_result
count,3003,3010,2979,3018,3018,3046,3012,3020,3028,3036,...,3009,3000,3019,3025,3017,2991,2989,3020,3003,2993.000000
unique,87,10,56,22,92,17,14,14,14,14,...,14,14,14,14,14,14,14,14,14,NaN
top,29.0,Other,37.1,96.0,84.0,4.0,No,No,No,No,...,No,No,No,No,No,No,No,No,No,NaN
freq,92,938,136,552,102,482,1059,1344,1436,1588,...,1781,1513,1922,2060,2023,1943,1954,2020,1974,NaN
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.209823
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.407250
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000

In [35]:
#Lets check the datatypes of the columns.
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3200 entries, 0 to 3199
Data columns (total 21 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   age                   3200 non-null   int64
 1   gender                3200 non-null   object
 2   temperature           3200 non-null   float64
 3   oxygen_level          2999 non-null   float64
 4   heart_rate            3018 non-null   object
 5   days_sick             3046 non-null   object
 6   fever                 3012 non-null   object
 7   headache              3020 non-null   object
 8   cough                 3028 non-null   object
 9   throat_pain           3036 non-null   object
 10  vomiting              3001 non-null   object
 11  breathing_problem     3009 non-null   object
 12  body_pain             3000 non-null   object
 13  confusion_sleepy      3019 non-null   object
 14  fits                  3025 non-null   object
 15  contact_patient       3017 non-null   object
 16  outbreak_visit        2991 non-null   object
 17  bat_or_fruit_contact  2989 non-null   object
 18  date_sap_drink        3020 non-null   object
 19  pig_or_bat_contact    3003 non-null   object
 20  nipah_result          2993 non-null   float64
dtypes: float64(3), int64(1), object(17)
memory usage: 525.1+ KB

In [10]:
#Lets Start to clean the data.

#column :- Age

df["age"] = df["age"].astype(str)
df["age"] = df["age"].replace('years',"")
df["age"] = df["age"].replace('twenty',"")
df["age"] = df["age"].replace(' ',"")
df["age"] = df["age"].str.strip()
df["age"] = pd.to_numeric(df["age"],errors="coerce")
df["age"] = df["age"].fillna(df["age"].mean())
df["age"] = df["age"].astype(int)

In [25]:

#Columns:- Gender
# df["gender"] = df["gender"].replace("")
df["gender"].unique()

df["gender"] = df["gender"].replace("O",np.nan)
df["gender"] = df["gender"].replace("F","female")
df["gender"] = df["gender"].replace("M","Male")
df["gender"] = df["gender"].replace("FEMA","female")
df["gender"] = df["gender"].str.lower()
df["gender"] = df["gender"].fillna(df["gender"].mode()[0])

In [ ]:
#Columns Tempurature
df["temperature"] = pd.to_numeric(df["temperature"],errors="coerce")
df["temperature"] = df["temperature"].fillna(df["temperature"].mean())
df["temperature"] = round(df["temperature"],2)

In [38]:
#Columns:- Oxygen_level

df["oxygen_level"] = df["oxygen_level"].replace("unknown",np.nan)
df["oxygen_level"] = pd.to_numeric(df["oxygen_level"],errors="coerce")
df["oxygen_level"] = df["oxygen_level"].fillna(df["oxygen_level"].mean())
df["oxygen_level"] = round(df["oxygen_level"],2)

In [39]:
df.to_csv("cleaned_data.csv")